

.newheader{
   
    width: 100%;
    height: auto;
    display: flex;
    padding: 0.1rem ;
    background: white;
    align-items: center;
   
    .icon{
        font-size: 0.25rem;
    }
   .left{
       display: flex;
       flex-flow: row;
       flex-grow:3;
       justify-content: space-between;
       align-items: center;
       .icon-back{
           margin-left: 0.05rem;
           
       }
       p{
          font-size: 0.15rem;
          margin-right:0.2rem;
       }

   }
   .right{
       display: flex;
       flex-grow: 2;
       justify-content: space-around
   }
   
}