
.page-info{
    width: 100%;
    margin-top:10px;
    background: #fff; 
    .page__title{
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                width: 33%;
                height: 0.22rem;
                margin: 14px 0;
                text-align: center;
                border-right: 1px solid #ccc;
            }
            li:nth-child(3){
                border-right: none;
            }
        }
    }

    // .page__info{
    //     margin-top: 10px;
    //     width: 100%;
    //     height: 200px;
    //     background: greenyellow; 
    // }

    .TuWen{
        width: 100%;
        img{
            width: 100%;
            display: inline-block;
        }
    }
    .Pingjia{
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Argu{
        width: 100%;
        ul{
            width: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            li{
                width: 100%;
                padding: 15px 25px;
                border-bottom: 1px solid #ccc;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span:nth-child(1){
                    color:gray;
                }
            }
        }
    }

}

.active{
    color: red;
}